<h1>Activation de votre compte</h1>
<p>Vous avez créé un compte sur la base de données des accords et traitées, veuillez cliquer sur le lien ci-dessous pour activer le compte et changer de mot de passe</p> 
<p><a href="{{absolute_url(path('app_reset_password',{'token':token}))}}">Activer mon compte</a></p>